PORT=3000
FRONTEND_ORIGIN=http://localhost:4200
NODE_ENV=development
RUSTFS_ENDPOINT=http://rustfs:9000
RUSTFS_REGION=sa-east-1
RUSTFS_ACCESS_KEY=1234
RUSTFS_SECRET_KEY=1234
RUSTFS_BUCKET=profile-images
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=ecommerce
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=change-this-database-password
